[Unit]
Description=Fuudzie server API V2
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/fuudzie_server_flask
ExecStart=/root/fuudzie_server_flask/venv/bin/gunicorn -b localhost:8000 -w 4 setup:create_app
Environment="PATH=/root/fuudzie_server_flask/venv/bin"
Restart=always

[Install]
WantedBy=multi-user.target